<div class="container" style>
  <h1>Welcome to Angular Data Structures!</h1>
  <hr/>
  <h2>Linked List</h2>
  <div class="row">
      <div class="col-sm">
          <input class="btn btn-primary btn-lg btn-block" type="button" value="Singly Linked List" onclick="location.href='/singlylinkedlist'">
      </div>
      <div class="col-sm">
          <input class="btn btn-primary btn-lg btn-block" type="button" value="Circular Linked List" onclick="location.href='/circularlylinkedlist'">
      </div>
      <div class="col-sm">
          <input class="btn btn-primary btn-lg btn-block" type="button" value="Doubly Linked List" onclick="location.href='/doublylinkedlist'">
      </div>
    </div>
    <h2>Stacks Queues & Deques</h2>
  <div class="row">
      <div class="col-sm">
          <input class="btn btn-primary btn-lg btn-block" type="button" value="Stack" onclick="location.href='/linkedlist'">
      </div>
      <div class="col-sm">
          <input class="btn btn-primary btn-lg btn-block" type="button" value="Queue" onclick="location.href='/linkedlist'">
      </div>
      <div class="col-sm">
          <input class="btn btn-primary btn-lg btn-block" type="button" value="Deque" onclick="location.href='/linkedlist'">
      </div>
    </div>
  <br/>
  <input class="btn btn-primary btn-lg btn-block" type="button" value="Stack">
  <input class="btn btn-primary btn-lg btn-block" type="button" value="Queue">
  <input class="btn btn-primary btn-lg btn-block" type="button" value="Tree">
  <input class="btn btn-primary btn-lg btn-block" type="button" value="Priority Queue">
</div>